@use "../global/" as *;
.container__main .benefit {
  width: 100%;
  margin: 0 auto;
  margin-top: 1.2rem;
  // padding: 0rem var(--space-side) 0rem var(--space-side);
  background-color: $color-white;
  border-radius: 1rem;
}
.benefit {
  padding: 5rem 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (max-width: 430px) {
  }
  &__text {
    & h2 {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 19.2px */
      text-transform: uppercase;
      color: $color_navy;
      margin-bottom: 1rem;
    }

    & p {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.5rem; /* 178.571% */
      opacity: 0.7;
    }
  }
  &__list {
    margin-top: 3rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    gap: 1.6rem;
  }
  &__item--bg {
    min-width: 4.2rem;
    min-height: 4.2rem;
    background-color: $color_blue_light;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item--icon {
    color: rgba($color-black, 0.7);
    width: 2.8rem;
    height: 2.8rem;
  }
  & .p__lg {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem; /* 156.25% */
    opacity: 0.65;
  }

  & .p__normal {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; /* 178.571% */
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
    }
  }
}
