@use "../global/" as *;
.login {
  // width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba($color-white, 0.16),
      rgba($color-white, 0.03)
    ),
    url("/login_bg.png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__container {
    min-width: 40rem;
    padding: 4.6rem 4.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: rgba($color-white, 0.97);
    // backdrop-filter: blur(10px);
    background-color: $color-white;

    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    border-radius: 1.2rem;
  }

  &__title {
    color: #006fcf;
    color: $color-navy-light;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    position: relative;
    text-align: center;

    &::after {
      content: "";
      width: 100%;
      height: 0.2rem;
      border-radius: 0.3rem;
      background-color: #006fcf;
      background-color: $color-navy-light;
      position: absolute;
      bottom: -1.2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    opacity: 0.8;
  }

  &__input {
    border-radius: 0.6rem;
    align-items: center;
    opacity: 0.7;

    &--email,
    &--password {
      width: 100%;
      padding: 1.4rem 2rem;
      padding: 1.8rem 2rem;

      // border-radius: 1.2rem;
      border: 0;

      outline: 0;
      background-color: rgba($color-black, 0.1);
    }
  }

  &__button {
    flex-basis: 48%;
    background-color: #006fcf;
    background-color: $color-navy-light;
    color: $color-white;
    border-radius: 2rem;
    border: 2px solid white;
    outline: 0;
    cursor: pointer;
    transition: all 1;
    padding: 1.5rem 3rem;
    margin-top: 4.8rem;

    width: 100%;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__error {
    padding-top: 1rem;
    color: $color-red;
  }
  &__signin-link {
    display: flex;
    gap: 0.8rem;
    opacity: 0.8;
  }
}
